@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
html,body{
    height: auto;
}
#calculadora{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 100px auto;
    min-width: 250px;
    max-width: 450px;
    height: auto;
    padding: 2px;
    font-family: "Work Sans", sans-serif;
    user-select: none;
    border: 1px solid black;
    border-radius: 8px;
}
#display{
    width: 100%;
    height: 110px;
    font-size: 100px;
    text-align: end;
    text-wrap: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
}
#teclas{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    width: 100%;
    font-size: 18px;
}
.tecla{
    cursor: pointer;
    background-color: burlywood;
    padding: 10px 30px;
    border-radius: 3px;
    text-align: center;
}


